@model EventPlanning.Models.Event

<div>
    <h4>You have registered for this event.</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        @foreach (var prop in Model.Properties)
        {
            <dt class="col-sm-2">
                @prop.Name
            </dt>
            <dd class="col-sm-10">
                @prop.Value
            </dd>
        }
        <dt class="col-sm-2">
            <i>Registered users</i>
        </dt>
        <dd class="col-sm-10">
            <i>@Model.RegisteredUsers.Count/@Model.MaxRegisteredUsers</i>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
